@charset "utf-8";

/* all */
a[class^=btn-], button[class^=btn-] {
    display: inline-block;
    vertical-align: top;
}

/* pagination */
.pagination {
    margin-top: 60px;
    font-size: 0;
    text-align: center;
}
.pagination .btn-page {
    width: 23px;
    height: 25px;
}
.pagination .btn-page:before {
    content: '';
    display: block;
    width: 23px;
    height: 25px;
    background-size: 13px;
    background-position: center;
    background-repeat: no-repeat;
}
.pagination .btn-page.first:before  { background-image: url("../images/common/ico_pagination_first.png"); }
.pagination .btn-page.last:before   { background-image: url("../images/common/ico_pagination_last.png"); }
.pagination .btn-page.prev:before   { background-image: url("../images/common/ico_pagination_prev.png"); }
.pagination .btn-page.next:before   { background-image: url("../images/common/ico_pagination_next.png"); }
.pagination .btn-page.disabled {
    opacity: 0.3;
    cursor: default;
}
.pagination .page-num-group {
    display: inline-block;
    padding: 0 20px;
    vertical-align: top;
}
.pagination .page-num-group .btn-page-num {
    display: inline-block;
    padding: 5px 5px;
    margin: 0 10px;
    font-size: 15px;
    line-height: 1;
    color: #888;
    vertical-align: top;
}
.pagination .btn-page-num.current {
    color: #000;
    font-weight: 700;
}

/* button size/color */

/* size sm */
a.btn-sm, button.btn-sm {
    min-width: 90px;
    height: 30px;
    padding: 0 10px;
    border-radius: 2px;
}
a.btn-sm .text,
button.btn-sm .text {
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
}

/* size md */
a.btn-md, button.btn-md {
    min-width: 140px;
    height: 45px;
    padding: 0 15px;
    border-radius: 2px;
}
a.btn-md .text,
button.btn-md .text {
    font-size: 15px;
    font-weight: 700;
}

/* size lg */
a.btn-lg, button.btn-lg {
    min-width: 200px;
    height: 60px;
    padding: 0 20px;
}
a.btn-lg .text,
button.btn-lg .text {
    font-size: 18px;
    font-weight: 700;
}

/* line-black */
a.btn-line-black,
button.btn-line-black { border: 1px solid #000; background-color: #fff;}
a.btn-line-black .text,
button.btn-line-black .text { color: #000;} 

/* black */
a.btn-black,
button.btn-black { background-color: #000;}
a.btn-black .text,
button.btn-black .text { color: #fff;}

/* btn-like */
.btn-like { font-size: 0;}
.btn-like:before { content: ''; display: inline-block; width: 18px; height: 18px; background-image: url(../images/common/ico_like.png); background-position: -2px -2px; vertical-align: top;}
.btn-like.on:before { background-position: -24px -2px;}
.btn-like .like-count { display: inline-block; margin: 4px 0 0 7px; font-size: 14px; line-height: 1; color: #666; vertical-align: top;}
/* btn-report */
.btn-report { border-bottom: 1px solid #666;}
.btn-report .txt { color: #666;}
.btn-report:hover .txt { color: #000;}

/* btn-go-arrow */
.btn-go-arrow { font-size: 16px; line-height: 1;}
.btn-go-arrow:after { content: ''; display: inline-block; width: 6px; height: 10px; margin-left: 8px; margin-top: 3px; background: url(../images/common/ico_go_arrow.png) 6px 10px; vertical-align: top;}
.btn-go-arrow:hover { text-decoration: underline;}