@charset "utf-8";

/* ico */
.ico, [class^=ico-] { display: inline-block; background-repeat: no-repeat; vertical-align: top;}
/* ico-ft-sns */
.ico-ft-sns { width: 24px; height: 24px; background-image: url(../images/common/sprites_ft_sns.png);}
.ico-ft-sns-instagram { background-position: -73px -5px;}
.ico-ft-sns-facebook { background-position: -39px -5px;}
.ico-ft-sns-twitter { background-position: -5px -5px;}
/* btn-search */
.btn-search { width: 24px; height: 24px; background-image: url(../images/common/sprites_search.png); background-position: -5px -5px;}
/* btn-close */
.btn-close { width: 24px; height: 24px; background-image: url(../images/common/ico_search_close.png);}
/* ico-go-top */
.ico-go-top {width: 15px; height: 20px; background-image: url(../images/common/ico_go_top.png);}

/* point */
.point {
    position: relative;
    display: inline-block;
    width: 100px;
    height: 20px;
    background: url(../images/common/ico_point_m.png) no-repeat;
    vertical-align: top;
}
.point.size-m {
    width: 100px;
    height: 20px;
    background: #fff url(../images/common/ico_point_m.png) repeat-x 0 100%;
}
.point.size-lg {
    width: 150px;
    height: 30px;
    background: #fff url(../images/common/ico_point_lg.png) repeat-x 0 100%;
}
.point.size-m .ico-point { height: 20px; background: #fff url(../images/common/ico_point_m.png) repeat-x;}
.point.size-lg .ico-point { height: 30px; background: #fff url(../images/common/ico_point_lg.png) repeat-x;}